*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family:'Poppins', sans-serif;
}

body{
  height:100vh;

  display:flex;
  justify-content:center;
  align-items:center;

  background:
  linear-gradient(
    135deg,
    #0f172a,
    #1e293b,
    #334155
  );
}

/* CONTAINER */

.chat-container{

  width:400px;
  height:700px;

  background:rgba(255,255,255,0.08);

  backdrop-filter:blur(15px);

  border:1px solid rgba(255,255,255,0.1);

  border-radius:25px;

  overflow:hidden;

  display:flex;
  flex-direction:column;

  box-shadow:0 10px 30px rgba(0,0,0,0.4);
}

/* HEADER */

.chat-header{

  padding:20px;

  display:flex;
  align-items:center;
  gap:15px;

  background:rgba(255,255,255,0.05);

  border-bottom:1px solid rgba(255,255,255,0.1);
}

.profile{

  width:50px;
  height:50px;

  border-radius:50%;

  background:#38bdf8;

  display:flex;
  justify-content:center;
  align-items:center;

  color:white;
  font-size:20px;
  font-weight:bold;
}

.header-text h2{
  color:white;
  font-size:18px;
}

.header-text p{
  color:#94a3b8;
  font-size:14px;
}

/* CHAT BOX */

.chat-box{

  flex:1;

  padding:20px;

  overflow-y:auto;

  display:flex;
  flex-direction:column;

  gap:15px;
}

/* MESSAGE */

.message{

  max-width:75%;

  padding:12px 16px;

  border-radius:18px;

  color:white;

  font-size:15px;

  line-height:1.4;

  animation:fadeIn 0.3s ease;
}

.friend{

  background:#334155;

  align-self:flex-start;

  border-bottom-left-radius:5px;
}

.me{

  background:#38bdf8;

  align-self:flex-end;

  border-bottom-right-radius:5px;
}

/* INPUT */

.chat-input{

  display:flex;

  gap:10px;

  padding:15px;

  background:rgba(255,255,255,0.05);

  border-top:1px solid rgba(255,255,255,0.1);
}

.chat-input input{

  flex:1;

  padding:12px;

  border:none;
  outline:none;

  border-radius:15px;

  background:#1e293b;

  color:white;

  font-size:15px;
}

.chat-input input::placeholder{
  color:#94a3b8;
}

.chat-input button{

  padding:12px 18px;

  border:none;

  border-radius:15px;

  background:#38bdf8;

  color:white;

  font-weight:bold;

  cursor:pointer;

  transition:0.3s;
}

.chat-input button:hover{

  background:#0ea5e9;

  transform:scale(1.05);
}

/* ANIMATION */

@keyframes fadeIn{

  from{
    opacity:0;
    transform:translateY(10px);
  }

  to{
    opacity:1;
    transform:translateY(0);
  }

}

/* SCROLLBAR */

.chat-box::-webkit-scrollbar{
  width:5px;
}

.chat-box::-webkit-scrollbar-thumb{
  background:#38bdf8;
  border-radius:10px;
}
